<div class="flex h-screen px-3">
    <div class="p-5 w-5 flex flex-column justify-content-center align-self-center">
        <h1 class="capitalize mb-5">The Newest and Affordable <br>Way of Transport</h1>
        <p class="mb-5">Drivego is a promising platform to travel in an affordable way. You can both book a ride or create a trip to travel from one location to another with love & safety.</p>
        <div>
            <button pButton type="button" (click)="moveToLogin()" label="START NOW" class="p-button-warning"></button>
        </div>
    </div>
    <div class="w-7"></div>

</div>