<div class="flex max-h-screen">
    <div class="w-5 mt-3 mb-5 flex flex-column justify-content-center align-items-center">
        <div class="wrap-login">
            <div class="login-form validate-form">
                <span class="login-form-title my-3">
                    Book a ride
                </span>
                <form class="" (submit)="tripDetails()" [formGroup]="tripDetailsForm">
                    <div class="p-inputtext-sm w-full mb-4">
                        <label for="source"d>Source:</label><br>
                        <input type="text" for="source" pInputText class="w-full mt-2" placeholder="Enter ride source" formControlName="source">
                        <small class="p-invalid" style="color:red" *ngIf="source.hasError('required') && source.touched">This field is required!</small>
                    </div>
            
                    <div class="p-inputtext-sm w-full mb-4">
                        <label for="destination"d>Destination:</label><br>
                        <input type="text" for="destination" pInputText class="w-full mt-2" placeholder="Enter ride destination" formControlName="destination">
                        <small class="p-invalid" style="color:red" *ngIf="destination.hasError('required') && destination.touched">This field is required!</small>
                    </div>
                    
                    <div class="p-inputtext-sm w-full mb-4">
                        <label for="startDate"d>Start Date:</label><br>
                        <p-calendar inputId="basic" dateFormat="dd.mm.yy" styleClass="w-full mt-2" formControlName="startDate" placeholder="Enter ride start date" [minDate]="minDate" [readonlyInput]="true"></p-calendar>
                        <small class="p-invalid" style="color:red" *ngIf="startDate.hasError('required') && startDate.touched">This field is required!</small>
                    </div>
                    
                    <div class="p-inputtext-sm w-full mb-4">
                        <label for="startTime"d>Start Time:</label><br>
                        <p-calendar [timeOnly]="true" [hourFormat]="'12'" styleClass="w-full mt-2" placeholder="Enter ride start time" formControlName="startTime"></p-calendar>
                        <small class="p-invalid" style="color:red" *ngIf="startTime.hasError('required') && startTime.touched">This field is required!</small>
                    </div>
            
                    <div class="flex justify-content-center align-items-center ">
                        <button pButton type="submit" label="SUBMIT" class="p-button-success" [disabled]="tripDetailsForm.invalid || tripDetailsBtn" icon="" [loading]="tripDetailsBtn"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w-7"></div>
</div>
<p-toast></p-toast>