<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">
            <h2 class="text-center">Trip details</h2><hr class="my-2">
            <form class="" (submit)="tripDetails()" [formGroup]="tripDetailsForm">
                <div class="p-inputtext-sm w-full mb-4">
                    <label for="source"d>Source:</label><br>
                    <input type="text" for="source" pInputText class="w-full mt-2" placeholder="Enter trip source" formControlName="source">
                </div>
        
                <div class="p-inputtext-sm w-full mb-4">
                    <label for="destination"d>Destination:</label><br>
                    <input type="text" for="destination" pInputText class="w-full mt-2" placeholder="Enter trip destination" formControlName="destination">
                </div>
        
                <div class="p-inputtext-sm w-full mb-4">
                    <label for="capacity"d>Capacity:</label><br>
                    <input type="number" for="capacity" pInputText class="w-full mt-2" placeholder="Enter capacity" formControlName="capacity">
                </div>
                
                <div class="p-inputtext-sm w-full mb-4">
                    <label for="startTime"d>Start Time:</label><br>
                    <input type="text" for="startTime" pInputText class="w-full mt-2" placeholder="Enter trip start time" formControlName="startTime">
                </div>
        
                <div class="flex justify-content-center align-items-center ">
                    <button pButton type="submit" label="SUBMIT" class="p-button-success" [disabled]="tripDetailsForm.invalid || tripDetailsBtn" icon="" [loading]="tripDetailsBtn"></button>
                </div>
            </form>
        </div>
    </div>
</div>


<p-toast></p-toast>