
 .p-field * {
  display: block;
}

:host ::ng-deep .p-inputtext {
  border-radius: 0px;
  font-size: 16px;
  font-family: '"Helvetica Neue", Helvetica, sans-serif',
}

:host ::ng-deep .p-inputtext.ng-invalid.ng-touched {
  border: 1px solid red;
}

:host ::ng-deep .p-inputtext:focus {
  outline: none;
  box-shadow: none;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('./../../../assets/fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('./../../../assets/fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('./../../../assets/fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('./../../../assets/fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

body, html, label,h4,p {
    font-family: Poppins-Regular, sans-serif;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.wrap-login {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  -webkit-box-shadow: 2px 2px 8px 0px #ccc;
  -moz-box-shadow: 2px 2px 8px 0px #ccc;
  box-shadow: 2px 2px 8px 0px #ccc;
  border: 1px solid #ccc;
  background: #fff;
  .login-form {
      width: 100%;
        .login-form-title {
          font-family: Poppins-Medium;
          font-size: 30px;
          color: #000;
          text-align: center;
          text-transform: uppercase;
        
          display: block;
        }
        label{
          color: #000;
        }
        .card{
          border: 1px solid #ccc;
          cursor: pointer;
          border-radius: 5px;
          padding: 10px 10px;
          h4{
            font-size: 14px;
          }
          p{
            font-size: 14px;
          }
        }

        .card:hover{
          background-color: #F7B731;
        }
    }
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login {
    padding: 55px 15px 37px 15px;
  }
}




