<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">
            <div class="flex justify-content-end mb-4">
                <button (click)="displayModal = true" pButton type="button" label="ADD VEHICLE" class="p-button-success p-button-sm" icon="pi pi-plus"></button>
            </div>

            <div class="flex flex-column"> 
                <p-card class="w-full mb-3" *ngFor="let vehicles of allVehicles">
                    <div class="flex justify-content-between align-items-center w-full">
                        <div class="flex justify-content-center align-items-center">
                            <img src="assets/images/car1.jpeg" height="60px" class="">
                        </div>
                        <div>
                            <p>Car Maker: {{vehicles.company}}</p>
                            <p>Model: {{vehicles.model}}</p>
                            <p>Type: {{vehicles.type}}</p>
                        </div>
                        <div>
                            <p>Capacity: {{vehicles.capacity}}</p>
                            <p>Color: {{vehicles.color}}</p>
                            <p>No: {{vehicles.vehicleNumber}}</p>
                        </div>
                        <button pButton type="button" label="Choose" class="p-button-primary p-button-sm" (click)="tripStartModal(vehicles.id)"></button>
                    </div>
                </p-card>
                

            </div>
        </div>
    </div>
</div>

<p-dialog #dialog header="Register Vehicle" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <form class="" (submit)="registerVehicle()" [formGroup]="registerVehicleForm">
        <div class="p-inputtext-sm w-full mb-4">
            <label for="company">Car Maker:</label><br>
            <input type="text" for="company" pInputText class="w-full mt-2" placeholder="Ex. Suzuki" formControlName="company">
            <small class="p-invalid" style="color:red" *ngIf="company.hasError('required') && company.touched">This field is required!</small>
        </div>

        <div class="p-inputtext-sm w-full mb-4">
            <label for="model">Model:</label><br>
            <input type="text" for="model" pInputText class="w-full mt-2" placeholder="Ex. XUV" formControlName="model">
            <small class="p-invalid" style="color:red" *ngIf="models.hasError('required') && models.touched">This field is required!</small>
        </div>

        <div class="p-inputtext-sm w-full mb-4">
            <label for="type">Type:</label><br>
            <p-dropdown appendTo="dialog" styleClass="w-full mt-2" [options]="vehicleType" optionLabel="name" optionValue="value" placeholder="Enter vehicle type" formControlName="type"></p-dropdown>
            <small class="p-invalid" style="color:red" *ngIf="type.hasError('required') && type.touched">This field is required!</small>
        </div>

        <div class="p-inputtext-sm w-full mb-4">
            <label for="vehicleNumber">Vehicle Number:</label><br>
            <input type="text" for="vehicleNumber" pInputText class="w-full mt-2" placeholder="Enter your vehicle no" formControlName="vehicleNumber">
            <small class="p-invalid" style="color:red" *ngIf="vehicleNumber.hasError('required') && vehicleNumber.touched">This field is required!</small>
        </div>

        <div class="p-inputtext-sm w-full mb-4">
            <label for="capacity"d>Capacity:</label><br>
            <input type="number" for="capacity" pInputText class="w-full mt-2" placeholder="Enter capacity" formControlName="capacity">
            <small class="p-invalid" style="color:red" *ngIf="capacity.hasError('required') && capacity.touched">This field is required!</small>
        </div>
        
        <div class="p-inputtext-sm w-full mb-4">
            <label for="color"d>Color:</label><br>
            <input type="text" for="color" pInputText class="w-full mt-2" placeholder="Enter color" formControlName="color">
            <small class="p-invalid" style="color:red" *ngIf="color.hasError('required') && color.touched">This field is required!</small>
        </div>
        
        <div class="p-inputtext-sm w-full mb-4">
            <label for="vehicleImg"d>Vehicle Image:</label><br>
            <input type="file" for="vehicleImg" pInputText class="w-full mt-2" placeholder="Enter vehicle image" formControlName="vehicleImg">
            <small class="p-invalid" style="color:red" *ngIf="vehicleImg.hasError('required') && vehicleImg.touched">This field is required!</small>
        </div>

        <div class="flex justify-content-center align-items-center ">
            <button pButton type="submit" label="SUBMIT" class="p-button-success" [disabled]="registerVehicleForm.invalid || registerVehicleBtn" icon="" [loading]="registerVehicleBtn"></button>
        </div>
    </form>
</p-dialog>

<!-- trip details -->
<p-dialog header="Trip Details" [(visible)]="tripModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <form class="" (submit)="tripDetails()" [formGroup]="tripDetailsForm">
        <div class="p-inputtext-sm w-full mb-4">
            <label for="source"d>Source:</label><br>
            <input type="text" for="source" pInputText class="w-full mt-2" placeholder="Enter trip source" formControlName="source">
        </div>

        <div class="p-inputtext-sm w-full mb-4">
            <label for="destination"d>Destination:</label><br>
            <input type="text" for="destination" pInputText class="w-full mt-2" placeholder="Enter trip destination" formControlName="destination">
        </div>

        <div class="p-inputtext-sm w-full mb-4">
            <label for="capacity"d>Capacity:</label><br>
            <input type="number" for="capacity" pInputText class="w-full mt-2" placeholder="Enter capacity" formControlName="capacity">
        </div>
        
        <div class="p-inputtext-sm w-full mb-4">
            <label for="startTime"d>Start Time:</label><br>
            <input type="text" for="startTime" pInputText class="w-full mt-2" placeholder="Enter trip start time" formControlName="startTime">
        </div>

        <div class="flex justify-content-center align-items-center ">
            <button pButton type="submit" label="SUBMIT" class="p-button-success" [disabled]="tripDetailsForm.invalid || tripDetailsBtn" icon="" [loading]="tripDetailsBtn"></button>
        </div>
    </form>
</p-dialog>

<p-toast></p-toast>