<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Your password has been changed successfully</p>
        <p>Enjoy and DriveGo😉</p>
    </body>
</html>