<div class="flex max-h-screen">
    <div class="w-5 mt-1 mb-5 flex flex-column justify-content-center align-items-center">
        <div class="wrap-login">
            <div class="login-form validate-form">
                
                <div class="flex justify-content-center mb-4">
                    <span class="login-form-title text-center">
                        Ride History
                    </span>
                </div>
    
                <div class="flex flex-column"> 
                    <div class="w-full mb-4 card" *ngFor="let ride of allRides" (click)="detailsModel(ride)">
                        <div class="grid w-full">
                            <div class="col-4 flex flex-column justify-content-center align-items-center">
                                <img src="assets/images/car1.jpeg" height="60px" class="">
                                <p-chip [label]="ride.status" styleClass="bg-primary capitalize text-xs"></p-chip>
                            </div>
                            <div class="col-8">
                                <div class="flex justify-content-center align-items-center">
                                    <h4 class="text-center uppercase">{{ride.vehicle.company}} {{ride.model}}</h4>
                                    <!-- <p-chip [label]="ride.status" styleClass="ml-2 bg-primary capitalize text-xs"></p-chip> -->
                                </div>
                                <div class="flex justify-content-between align-items-center ">
                                    <div>
                                        <p><b>Source:</b> {{ride.source}}</p>
                                        <p><b>Time:</b> {{ride.expectedStartTime|date:'medium'}}</p> 
                                    </div>
                                    <div>
                                        <p><b>Destination:</b> {{ride.destination}}</p>
                                        <p><b>Fare:</b> {{ride.fare}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-7"></div>
</div>

<p-dialog #dialog header="Details" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="flex flex-column justify-content-center align-items-center mb-4">
        <img src="assets/images/car1.jpeg" height="100px" class="">
        <h3 class="text-center uppercase">{{currentDetails.vehicle.company}} {{currentDetails.vehicle.model}}</h3>
        <!-- <p class="text-center uppercase">Driver: Montu Bora(Male)</p> -->
        <p-chip [label]="currentDetails.status" styleClass="mr-2 bg-primary capitalize"></p-chip>
    </div>
    <div class="flex justify-content-center align-items-center mb-4">
        <div class="flex justify-content-between align-items-center w-11">
            <table class="flex-1" >
                <tr>
                    <td class="font-bold">Source</td>
                    <td>{{currentDetails.source}}</td>
                    <td class="font-bold">Destination</td>
                    <td>{{currentDetails.destination}}</td>
                </tr>
                <tr>
                    <td class="font-bold">Vehicle Type</td>
                    <td>{{currentDetails.vehicle.type}}</td>
                    <td class="font-bold">Ride Fare</td>
                    <td>{{currentDetails.fare | currency:'INR'}}</td>
                </tr>
                <tr>
                    <td class="font-bold">Start Date & Time</td>
                    <td>{{currentDetails.expectedStartTime | date:'medium'}}</td>
                    <td class="font-bold">Vehicle Type</td>
                    <td>{{currentDetails.vehicle.type}}</td>
                </tr>
                <tr>
                    <td class="font-bold">Vehicle Color</td>
                    <td>{{currentDetails.vehicle.color}}</td>
                    <td class="font-bold">Vehicle Number</td>
                    <td>{{currentDetails.vehicle.vehicleNumber}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="flex flex-column justify-content-center align-items-center mb-4">
        <button pButton type="button" label="OTP: 7847" class="p-button-warning p-button-outlined"></button>
    </div>
    <!-- <div class="flex flex-column justify-content-center align-items-center mb-4">
        <button pButton type="button" label="Request For Ride" class="p-button-warning" (click)="requestDriver(trip.driver)" [loading]="acceptButton"></button>
    </div> -->
   
</p-dialog>

<p-toast></p-toast>
